/*Root*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/******************************************/
/*REUSABLE COMPONENTS*/
/******************************************/

/*Row*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*SECTIONS*/
section {
    padding: 80px 0;
}

/*****************************************/
/*HEADER*/
/****************************************/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1563453392212-326f5e854473?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*HEADINGS*/
h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 3px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #82589F;
    content: " ";
    width: 100px;
    margin: 30px auto 0;
}

/*PARAGRAPHS*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*BUTTONS*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #82589F;
    color: #82589F;
}

.btn:hover,
.btn:active {
    background-color: #e84393;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 3px solid #704c89;
    color: #ffffff;
    font-weight: 400;
}

/*LOGO*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*NAVIGATION*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #82589F;
}

/*****************************************************/
/*CATALOGUE*/
/*****************************************************/
.section-catalogue {
    padding: 0;
}

.catalogue-showcase {
    list-style: none;
    width: 100%;
}

.catalogue-showcase > li {
    display: block;
    float: left;
    width: 25%;
}

.catalogue-photo {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.catalogue-photo img {
    display: block;
    width: 100%;
    height: auto;
    /*transform: scale(1.15);*/
    /*transition: transform 0.5s, opacity 0.5s;*/
}

/*Image*/
.catalogue-photo > .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Lato', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.catalogue-photo > .image-overlay > * {
    transform: translateY(80px);
    transition: transform 0.25s;
}

.catalogue-photo > .image-overlay:hover {
    opacity: 1;
}

.catalogue-photo > .image-overlay:hover > * {
    transform: translateY(60px);
}

.catalogue-photo > .image-overlay > .image-title {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}