/*Root*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #555555;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/******************************************/
/*REUSABLE COMPONENTS*/
/******************************************/

/*Row*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*SECTIONS*/
section {
    padding: 80px 0;
}

/*****************************************/
/*HEADER*/
/****************************************/
header {
    background-color: #ff4500;
    height: 100vh;
}

/*LOGO*/
.logo {
    height: 50px;
    width: auto;
    float: left;
}

/*NAVIGATION*/
/* ------Main Menu----------- */
header .nav {
    position: fixed;
    width: 100vw;
    box-shadow: 0 0 10px #ff7d4d;
}

header .nav .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

header .nav .nav__list .nav__list__logo {
    list-style: none;
    margin-right: auto;
    cursor: pointer;
}

header .nav .nav__list .nav__list__item {
    list-style: none;
    font-size: 80%;
    font-weight: 500;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

header .nav .nav__list .nav__list__item a {
    font-size: 80%;
}

header .nav .nav__list .nav__list__item:hover ul,
header .nav .nav__list .nav__list__item:focus ul {
    opacity: 1;
    visibility: visible;
}

header .nav .nav__list .nav__list__item a {
    color: #ffffff;
    text-decoration: none;
}

header .nav .nav__list .nav__list__item .nav__list__drop__down {
    position: absolute;
    top: 4rem;
    left: -0.5rem;
    box-shadow: 0 0 10px #ff7d4d;
    background-color: #ff4500;
    border-radius: 0.2rem;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

header .nav .nav__list .nav__list__item .nav__list__drop__down li {
    font-size: 90%;
    list-style: none;
    padding: 0.2rem 0.7rem;
    border-radius: 0.2rem;
    transition: background-color 100ms ease-in-out;
}

header .nav .nav__list .nav__list__item .nav__list__drop__down li:hover,
header .nav .nav__list .nav__list__item .nav__list__drop__down li:focus {
    background: #ff7d4d;
}

header .nav .nav__list .nav__list__item .nav__list__drop__down li a {
    text-decoration: none;
    color: #ffffff;
}

/* ------MOBILE NAVIGATION------- */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon > i {
    font-size: 200%;
    color: #fff;
}

/* ------STICKY NAVIGATION------- */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff4500;
    box-shadow: 0 2px 2px #ff7d4d;
    z-index: 9999;
}

.sticky .nav__list {
    margin-top: -5px;
}

.sticky .nav__list .nav__list__logo .sticky-logo {
    display: block;
    height: 50px;
    margin: 5px 0;
}

.sticky .nav__list li a:link,
.sticky .nav__list li a:visited {
    padding: 12px 0;
}

.sticky .nav__list li a:hover,
.sticky .nav__list li a:active {
    font-weight: 500;
}

/*------------------------------------------------------------------------*/
/*---------PRODUCT DETAILS SECTION----------------------------------------*/
/*------------------------------------------------------------------------*/
section.details__section {
    padding-bottom: 0;
}

.product__details h2 {
    font-size: 90%;
    text-transform: uppercase;
    background-color: #ff4500;
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
}

.product__details {
    font-size: 70%;
    border-bottom: 2px solid #ff4500;
}

.product__notes {
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px #ff7d4d;
}

.product__details ul {
    list-style: none;
}

.product__details ul li {
    font-size: 85%;
}

.product__details ul li .features {
    font-weight: 500;
    color: #ff4500;
}

.product__features span {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 500;
    color: #ff4500;
}

/*------------------------------------------------------------------------*/
/*---------PRODUCT TABLE--------------------------------------------------*/
/*------------------------------------------------------------------------*/
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 1140px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #ff7d4d;
}

.content-table thead tr {
    background-color: #ff4500;
    color: #fff;
    text-align: left;
    font-size: 70%;
    font-weight: 500;
    text-transform: uppercase;
}

.content-table tbody th {
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    color: #ff4500;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    font-size: 60%;
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff4500;
}

/*------------------------------------------------------------------------*/
/*---------FOOTER SECTION-------------------------------------------------*/
/*------------------------------------------------------------------------*/
footer {
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webki-transition: color 0.2s; /* Android, Chrome, iOS, Safari */
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e84393;
    font-weight: 500;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}

.ion-logo-facebook,
.ion-logo-linkedin {
    -webkit-transition: color 0.2s; /* Android, Chrome, iOS, Safari */
    transition: color 0.2s;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-linkedin:hover {
    color: #007bb5;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
